/*每日品牌团-begin*/

section .tuan>.tuan_tit {	
	width:1090px;
	height: 26px;
	line-height: 26px;
	border-bottom: 2px solid black;
}
section .tuan>.tuan_tit>.tuan_tit_img{
	display:inline-block ;
	height: 24px;
	width: 505px;
	background: url(http://a4.jmstatic.com/eaca15a907581788/main_tit02_02.png) no-repeat;
}
section .tuan>.tuan_tit>a{
	display: inline-block;
	height: 26px;
	width: 100px;
	vertical-align: middle;
	float: right;
	margin-right: 50px;	
		
}
section .tuan>.tuan_tit>a>img{
	padding-right: 10px;
}
section .tuan {
	width: 1090px;
	overflow: hidden;
	margin: 0 auto;
}

section .tuan>.row {
	width: 100%;
	overflow: hidden;
}

section .tuan>.row:first-of-type {
	border-bottom: 2px solid black;
}

section .tuan>.row>.col-md-4 {
	width: 270px;
	height: 425px;
	margin-left: 0px;
	margin-top: 10px;
}

section .tuan .row .col-md-8 {
	/*margin-left: 40px;*/
	width: 820px;
}

section .tuan .col-md-6 {
	width: 400px;
	height: 205px;
	margin-top: 10px;
}

section .tuan .item_info {
	position: absolute;
	top: 70px;
	right: 20px;
	text-align: center;
	width: 150px;
}

section .tuan .item_info .tit {
	width: 150px;
	font-size: 14px;
	font-weight: 700;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
}

section .tuan .item_info .subtit {
	margin-top: 5px;
	max-height: 40px;
	overflow: hidden;
	line-height: 20px;
}

section .tuan ..item_info .sale {
	margin-top: 18px;
	line-height: 1;
}
/*每日品牌团-end*/